@model OnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Personel Güncelleme Ekranı</h2>
<br />
@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.PersonelID)
        @Html.LabelFor(x => x.PersonelAdi)
        @Html.TextBoxFor(x => x.PersonelAdi, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.PersonelSoyadi)
        @Html.TextBoxFor(x => x.PersonelSoyadi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PersonelSoyadi, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.PersonelGorsel)
        <input type="file" name="PersonelGorsel" />
        <br />
        @Html.LabelFor(x => x.DepartmanId)
        @Html.DropDownListFor(x => x.DepartmanId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        <br />
        <button class="btn btn-default" style="background-color:yellowgreen">Güncelle</button>
    </div>
}

