@model OnlineTicariOtomasyon.Models.Siniflar.Cariler
@{
    ViewBag.Title = "CariGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Cari Güncelleme Ekranı</h2>
<br />
@using (Html.BeginForm("CariGuncelle", "Cari", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.CarilerID)
        @Html.LabelFor(x => x.CarilerAdı)
        @Html.TextBoxFor(x => x.CarilerAdı, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CarilerAdı, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.CarilerSoyadı)
        @Html.TextBoxFor(x => x.CarilerSoyadı, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CarilerSoyadı, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.CarilerSehir)
        @Html.TextBoxFor(x => x.CarilerSehir, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.CarilerMail)
        @Html.TextBoxFor(x => x.CarilerMail, new { @class = "form-control" })
        <br />
        <button class="btn btn-default" style="background-color:yellowgreen">Güncelle</button>
    </div>
}

