@model OnlineTicariOtomasyon.Models.Siniflar.Cariler
@{
    ViewBag.Title = "YeniCari";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Yeni Cari Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.CarilerAdı)
    @Html.TextBoxFor(x => x.CarilerAdı, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CarilerSoyadı)
    @Html.TextBoxFor(x => x.CarilerSoyadı, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CarilerSehir)
    @Html.TextBoxFor(x => x.CarilerSehir, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CarilerMail)
    @Html.TextBoxFor(x => x.CarilerMail, new { @class = "form-control" })
    <button class="btn btn-info">Kaydet</button>
</form>
